body, html {
    height: calc(100% - 100px);
    margin: 0;
    padding: 0;
}

.bg {
    background-image: url(arseniy-chebynkin-class.jpg);
    height: 100%;
    display: relative;
    padding-top: 200px;
}

.bg, #btn, #numbtn {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.calculator {
    width: 300px;
    background-color: rgb(241, 170, 176);
    margin: auto;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 15px;
    display: absolute;
    box-shadow: 0px 0px 20px rgb(77, 48, 48);
}

.calcWindow {
    width: 270px;
    height: 100px;
    background-color: rgb(252, 222, 226);
    margin: auto;
    margin-bottom: 15px;
    border-radius: 10px;
}

.buttons {
    display: flex;
    width: 270px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px 10px;
    margin: auto;
    margin-bottom: 0;
}

#btn, #numbtn {
    width: 60px;
    height: 60px;

    background-image: url("heartbutton.png");

    border: none;
    border-width: 0;
    background-color: transparent;

    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: rgb(252, 222, 226);
}

